server:
  port: 80
 
 spring:
   application:
     name: draw-service
     
eureka:
  client:
    registerWithEureka: false
    
mybatis:
  type-aliases-package: org.distributed.test.entity
    
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
	url: jdbc:mysql://localhost:3306/draw?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false
	username: root
	password: 
	initialSize: 5
	minIdle: 5
	maxActive: 20
	maxWait: 60000
	timeBetweenEvictionRunsMillis: 60000
	minEvictableIdleTimeMillis: 300000
	validationQuery: SELECT 1 FROM DUAL
	testWhileIdle: true
	testOnBorrow: false
	testOnReturn: false
	filters: stat,wall,log4j
	logSlowSql: true